<table class="table table-striperd">
    <tr>
        <th>Team One </th>
        <th>Score One</th>
        <th>Score Two</th>
        <th>Team Two</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let match of matches"> 
        <td>{{match.teamOne}}</td>
        <td>{{match.scoreOne}}</td>
        <td>{{match.scoreTwo}}</td>
        <td>{{match.teamTwo}}</td>
        <td>
            <button class="btn btn-info" (click)='displayCourse(course.id)'>Display</button>
            <button class="btn btn-info" (click)='editCourse(course.id)'>Edit</button>
            <button class="btn btn-info" (click)='deleteCourse(course.id)'>Delete</button>
        </td>

    </tr>
</table>

