<div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Player Register </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
            <!--player register Form-->
          <form #addSoccerPlayerForm="ngForm" (ngSubmit)="addSoccerPlayer()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="PlayerfirstName" [(ngModel)]="player.firstName" [ngModelOptions]="{standalone:true}">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="PlayerlastName" [(ngModel)]="player.lastName" [ngModelOptions]="{standalone:true}">
            </div>

            <div class="form-group">
                <input type="date" class="form-control" placeholder="DateOfBirth" [(ngModel)]="player.dateOfBirth" [ngModelOptions]="{standalone:true}">
            </div>

            <div class="form-group">
              <input type="number" class="form-control" placeholder="TeeShirtNumber" [(ngModel)]="player.teeShirtNumber" [ngModelOptions]="{standalone:true}">
          </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="PlayerEmail" [(ngModel)]="player.email" [ngModelOptions]="{standalone:true}">
            </div>

            <div class="form-group">
                <label for="position">PlayerPosition</label>
                <select multiple class="form-control" id="position" [(ngModel)]="player.position" [ngModelOptions]="{standalone:true}">
                  <option value="1">Goalkeeper</option>
                  <option value="2">Defender</option>
                  <option value="3">Mildfielder</option>
                  <option value="4">Forward</option>
                </select>
            </div>

            <div class="form-group">
                <label for="team">Player Team Attached</label>
                <select  class="form-control" id="team" [(ngModel)]="player.team" [ngModelOptions]="{standalone:true}">
                  <option value="1" >Real Madrid</option>
                  <option value="2">FC Barcelone</option>
                  <option value="3" >Liverpool</option>
                  <option value="4">Manchester United</option>
                  <option value="5">Manchester City</option>
                  <option value="6">PSG</option>

                </select>
            </div>
            

            <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-5" value="Add Player">
            </div>
          </form>  
        </div>
        <div class="col-lg-4 ml-auto">
          
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong class="text-white d-block">Address</strong>
              273 South Riverview Rd. <br> New York, NY 10011
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">Email</strong>
              <a href="#">info@unslate.co</a>
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">
                Phone
              </strong>
              <a href="#">+12 345 6789 012</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

